.header{
    height: 50px;
}

.header__h1{
    font-size: 4rem;

}

.section{
    flex-direction: row;
    height: calc(100vh - 100px);
}

.section__div-mobile{
    display: none;
}

.section__aside{
    width: 20%;
    height: 100%;
    border: 6px solid white;
    border-radius: 20px;
    background: linear-gradient(#63abf3, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}